workflows/demo-google-drive-sync.json
{"name":"Demo Google Drive Sync - lacasademo","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"name":"Cron Sync 1min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{},"name":"Ejecutar Manual Sync","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[250,500]},{"parameters":{"method":"GET","url":"https://sheets.googleapis.com/v4/spreadsheets/1uA-gJv8JUimuo23stgf5VSxaa7y6mcYwdZCShYhLNz4/values/A:Z","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"name":"1. Leer Sheets","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300],"credentials":{"googleSheetsOAuth2Api":{"id":"rFPPDXPxZCeuB9QJ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const rows = $input.first().json.values || [];\nconst COL_R = 17;\nconst COL_W = 22;\nconst COL_X = 23;\nconst COL_Y = 24;\n\nconst statusFolderMap = {\n  \u0027descart\u0027: \u0027DESCARTADOS\u0027,\n  \u0027citad\u0027: \u0027CITADOS\u0027,\n  \u0027seleccion\u0027: \u0027SELECCIONADOS\u0027\n};\n\nfunction getTargetFolder(situacion) {\n  const lower = (situacion || \u0027\u0027).toLowerCase().trim();\n  for (const [key, folder] of Object.entries(statusFolderMap)) {\n    if (lower.includes(key)) return folder;\n  }\n  return null;\n}\n\nconst pending = [];\nfor (let i = 1; i \u003c rows.length; i++) {\n  const row = rows[i];\n  const situacion = (row[COL_R] || \u0027\u0027).trim();\n  const accion = (row[COL_W] || \u0027\u0027).trim();\n  const fileId = (row[COL_X] || \u0027\u0027).trim();\n  const fileName = (row[COL_Y] || \u0027\u0027).trim();\n\n  if (!fileId) continue;\n  if (accion !== \u0027insert\u0027) continue;\n\n  const targetFolder = getTargetFolder(situacion);\n  if (!targetFolder) continue;\n\n  pending.push({\n    json: {\n      fileId,\n      fileName,\n      situacion,\n      targetFolder,\n      rowNumber: i + 1,\n      hasPending: true\n    }\n  });\n}\n\nif (pending.length === 0) {\n  return [{ json: { hasPending: false, total: 0 } }];\n}\n\nreturn pending;"},"name":"2. Filtrar Pendientes","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition0","leftValue":"={{ $json.hasPending }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"name":"3. Hay Pendientes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[920,300]},{"parameters":{"method":"GET","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}?fields=id,name,parents","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"name":"4. Obtener Padre","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,200],"credentials":{"googleDriveOAuth2Api":{"id":"wW0N2uPI0lkwY2p7","name":"Google Drive account"}}},{"parameters":{"method":"GET","url":"=https://www.googleapis.com/drive/v3/files?q=name%3D\u0027{{ $(\u00272. Filtrar Pendientes\u0027).item.json.targetFolder }}\u0027+and+\u0027{{ $json.parents[0] }}\u0027+in+parents+and+mimeType%3D\u0027application/vnd.google-apps.folder\u0027\u0026fields=files(id,name)","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"name":"5. Buscar Subcarpeta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,200],"credentials":{"googleDriveOAuth2Api":{"id":"wW0N2uPI0lkwY2p7","name":"Google Drive account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (let idx = 0; idx \u003c items.length; idx++) {\n  const item = items[idx];\n  const files = item.json.files || [];\n  const meta = $(\u00272. Filtrar Pendientes\u0027).all()[idx]?.json || {};\n  const parentData = $(\u00274. Obtener Padre\u0027).all()[idx]?.json || {};\n  const parentId = (parentData.parents || [])[0] || \u0027\u0027;\n\n  if (files.length \u003e 0) {\n    results.push({\n      json: {\n        folderId: files[0].id,\n        folderExists: true,\n        fileId: meta.fileId,\n        fileName: meta.fileName,\n        parentId,\n        targetFolder: meta.targetFolder,\n        rowNumber: meta.rowNumber\n      }\n    });\n  } else {\n    results.push({\n      json: {\n        folderExists: false,\n        fileId: meta.fileId,\n        fileName: meta.fileName,\n        parentId,\n        targetFolder: meta.targetFolder,\n        rowNumber: meta.rowNumber\n      }\n    });\n  }\n}\n\nreturn results;"},"name":"6. Evaluar Carpeta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1580,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.folderExists }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"name":"7. Carpeta Existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1800,200]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ name: $json.targetFolder, mimeType: \u0027application/vnd.google-apps.folder\u0027, parents: [$json.parentId] }) }}","options":{}},"name":"8. Crear Carpeta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,350],"credentials":{"googleDriveOAuth2Api":{"id":"wW0N2uPI0lkwY2p7","name":"Google Drive account"}}},{"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/drive/v3/files/{{ $(\u00276. Evaluar Carpeta\u0027).item.json.fileId }}?addParents={{ $json.folderId || $json.id }}\u0026removeParents={{ $(\u00276. Evaluar Carpeta\u0027).item.json.parentId }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"name":"9. Mover Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,200],"credentials":{"googleDriveOAuth2Api":{"id":"wW0N2uPI0lkwY2p7","name":"Google Drive account"}}},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1uA-gJv8JUimuo23stgf5VSxaa7y6mcYwdZCShYhLNz4/values/W{{ $(\u00276. Evaluar Carpeta\u0027).item.json.rowNumber }}:Z{{ $(\u00276. Evaluar Carpeta\u0027).item.json.rowNumber }}?valueInputOption=USER_ENTERED","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ values: [[\u0027moved:\u0027 + $(\u00276. Evaluar Carpeta\u0027).item.json.targetFolder, $(\u00276. Evaluar Carpeta\u0027).item.json.fileId, $(\u00272. Filtrar Pendientes\u0027).item.json.fileName, new Date().toISOString()]] }) }}","options":{}},"name":"10. Actualizar Sheets","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2460,200],"credentials":{"googleSheetsOAuth2Api":{"id":"rFPPDXPxZCeuB9QJ","name":"Google Sheets account"}}},{"parameters":{},"name":"11. Sin Cambios","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1140,450]}],"connections":{"Cron Sync 1min":{"main":[[{"node":"1. Leer Sheets","type":"main","index":0}]]},"Ejecutar Manual Sync":{"main":[[{"node":"1. Leer Sheets","type":"main","index":0}]]},"1. Leer Sheets":{"main":[[{"node":"2. Filtrar Pendientes","type":"main","index":0}]]},"2. Filtrar Pendientes":{"main":[[{"node":"3. Hay Pendientes?","type":"main","index":0}]]},"3. Hay Pendientes?":{"main":[[{"node":"4. Obtener Padre","type":"main","index":0}],[{"node":"11. Sin Cambios","type":"main","index":0}]]},"4. Obtener Padre":{"main":[[{"node":"5. Buscar Subcarpeta","type":"main","index":0}]]},"5. Buscar Subcarpeta":{"main":[[{"node":"6. Evaluar Carpeta","type":"main","index":0}]]},"6. Evaluar Carpeta":{"main":[[{"node":"7. Carpeta Existe?","type":"main","index":0}]]},"7. Carpeta Existe?":{"main":[[{"node":"9. Mover Archivo","type":"main","index":0}],[{"node":"8. Crear Carpeta","type":"main","index":0}]]},"8. Crear Carpeta":{"main":[[{"node":"9. Mover Archivo","type":"main","index":0}]]},"9. Mover Archivo":{"main":[[{"node":"10. Actualizar Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"active":true}