workflows/demo-sheets-util.json
{"name":"Demo Sheets Util - lacasademo","nodes":[{"parameters":{"httpMethod":"POST","path":"demo-lacasa-util","options":{"responseMode":"lastNode"}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300]},{"parameters":{},"name":"Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[250,500]},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1uA-gJv8JUimuo23stgf5VSxaa7y6mcYwdZCShYhLNz4/values/{{ $json.body.range }}?valueInputOption=USER_ENTERED","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ values: [[$json.body.value]] }) }}","options":{}},"name":"Update Cell","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300],"credentials":{"googleSheetsOAuth2Api":{"id":"rFPPDXPxZCeuB9QJ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Update Cell","type":"main","index":0}]]},"Manual":{"main":[[{"node":"Update Cell","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"active":true}