workflows/demo-google-drive.json
{"name":"Demo Google Drive - lacasademo","nodes":[{"parameters":{},"name":"Ejecutar Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[250,300]},{"parameters":{"path":"demo-lacasa","httpMethod":"POST","responseMode":"lastNode","options":{}},"name":"Webhook Test","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,500],"webhookId":"demo-lacasa-webhook"},{"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"query","queryString":"mimeType='application/pdf' and '18gdeXN_QaFNQf-tktV2F0a0G-z6XKo92' in parents","returnAll":true,"options":{}},"name":"1. Buscar PDFs en Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,300],"credentials":{"googleDriveOAuth2Api":{"id":"wW0N2uPI0lkwY2p7","name":"Google Drive account"}}},{"parameters":{"method":"GET","url":"https://sheets.googleapis.com/v4/spreadsheets/1uA-gJv8JUimuo23stgf5VSxaa7y6mcYwdZCShYhLNz4/values/A:Z","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"name":"2. Leer Sheets","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"credentials":{"googleSheetsOAuth2Api":{"id":"rFPPDXPxZCeuB9QJ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get PDFs from Drive (Node 1 output)\nconst driveItems = $('1. Buscar PDFs en Drive').all();\n\n// Parse Sheets API response (raw values format)\nconst sheetsData = $input.first().json;\nconst rows = sheetsData.values || [];\nconst headers = rows[0] || [];\nconst fileNameIdx = headers.indexOf('_fileName');\n\n// Extract _fileName values from Sheets\nconst existingFileNames = new Set();\nif (fileNameIdx >= 0) {\n  for (let i = 1; i < rows.length; i++) {\n    const val = (rows[i][fileNameIdx] || '').trim();\n    if (val) existingFileNames.add(val);\n  }\n}\n\n// Find new PDFs (in Drive but not in Sheets)\nconst newPdfs = driveItems.filter(item => {\n  const fileName = (item.json.name || '').trim();\n  return fileName && !existingFileNames.has(fileName);\n});\n\nif (newPdfs.length === 0) {\n  return [{ json: { status: 'No hay PDFs nuevos', totalNew: 0, totalDrive: driveItems.length, totalSheets: rows.length - 1 } }];\n}\n\nreturn newPdfs.map(pdf => ({\n  json: {\n    fileId: pdf.json.id,\n    fileName: pdf.json.name,\n    webViewLink: pdf.json.webViewLink || '',\n    isNew: true,\n    totalNew: newPdfs.length,\n    totalDrive: driveItems.length,\n    totalSheets: rows.length - 1\n  }\n}));"},"name":"3. Comparar Nuevos","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,300]},{"parameters":{},"name":"4. Resultado","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1140,300]}],"connections":{"Ejecutar Manual":{"main":[[{"node":"1. Buscar PDFs en Drive","type":"main","index":0}]]},"Webhook Test":{"main":[[{"node":"1. Buscar PDFs en Drive","type":"main","index":0}]]},"1. Buscar PDFs en Drive":{"main":[[{"node":"2. Leer Sheets","type":"main","index":0}]]},"2. Leer Sheets":{"main":[[{"node":"3. Comparar Nuevos","type":"main","index":0}]]},"3. Comparar Nuevos":{"main":[[{"node":"4. Resultado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"active":true}