workflows/demo-google-drive.json
{"name":"Demo Google Drive - lacasademo","nodes":[{"parameters":{},"name":"Ejecutar Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[250,300]},{"parameters":{"path":"demo-lacasa","httpMethod":"POST","responseMode":"lastNode","options":{}},"name":"Webhook Test","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,500],"webhookId":"demo-lacasa-webhook"},{"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"query","queryString":"mimeType=\u0027application/pdf\u0027 and \u002718gdeXN_QaFNQf-tktV2F0a0G-z6XKo92\u0027 in parents","returnAll":true,"options":{}},"name":"1. Buscar PDFs en Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,300],"credentials":{"googleDriveOAuth2Api":{"id":"wW0N2uPI0lkwY2p7","name":"Google Drive account"}}},{"parameters":{"method":"GET","url":"https://sheets.googleapis.com/v4/spreadsheets/1uA-gJv8JUimuo23stgf5VSxaa7y6mcYwdZCShYhLNz4/values/A:Z","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"name":"2. Leer Sheets","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"credentials":{"googleSheetsOAuth2Api":{"id":"rFPPDXPxZCeuB9QJ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const driveItems = $(\u00271. Buscar PDFs en Drive\u0027).all();\nconst sheetsData = $input.first().json;\nconst rows = sheetsData.values || [];\nconst headers = rows[0] || [];\nconst fileNameIdx = headers.indexOf(\u0027_fileName\u0027);\n\nconst existingFileNames = new Set();\nif (fileNameIdx \u003e= 0) {\n  for (let i = 1; i \u003c rows.length; i++) {\n    const val = (rows[i][fileNameIdx] || \u0027\u0027).trim();\n    if (val) existingFileNames.add(val);\n  }\n}\n\nconst newPdfs = driveItems.filter(item =\u003e {\n  const fileName = (item.json.name || \u0027\u0027).trim();\n  return fileName \u0026\u0026 !existingFileNames.has(fileName);\n});\n\nif (newPdfs.length === 0) {\n  return [{ json: { status: \u0027No hay PDFs nuevos\u0027, totalNew: 0, totalDrive: driveItems.length, totalSheets: rows.length - 1 } }];\n}\n\nreturn newPdfs.map(pdf =\u003e ({\n  json: {\n    fileId: pdf.json.id,\n    fileName: pdf.json.name,\n    webViewLink: pdf.json.webViewLink || \u0027\u0027,\n    isNew: true,\n    totalNew: newPdfs.length,\n    totalDrive: driveItems.length,\n    totalSheets: rows.length - 1\n  }\n}));"},"name":"3. Comparar Nuevos","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition0","leftValue":"={{ $json.isNew }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"name":"4. Hay Nuevos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1140,300]},{"parameters":{"method":"GET","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}?alt=media","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{"response":{"response":{"responseFormat":"file"}}}},"name":"5. Descargar PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,200],"credentials":{"googleDriveOAuth2Api":{"id":"wW0N2uPI0lkwY2p7","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formData","name":"purpose","value":"assistants"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"name":"6. Subir a OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,200],"credentials":{"httpHeaderAuth":{"id":"UaTumCTaiqXx8eWi","name":"OpenAI API Key"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ model: \u0027gpt-4o-mini\u0027, input: [{ role: \u0027user\u0027, content: [{ type: \u0027input_file\u0027, file_id: $json.id }, { type: \u0027input_text\u0027, text: \u0027Analiza este CV y extrae la info en JSON estricto: {\"nombre\":\"Nombre completo\",\"correo\":\"Email\",\"telefono\":\"Telefono\",\"residencia\":\"Ciudad\",\"posicion\":\"Puesto o experiencia principal\",\"comentarios\":\"Resumen breve max 50 palabras\"}. Si no encuentras un dato usa \"\". Responde SOLO el JSON sin markdown.\u0027 }] }], text: { format: { type: \u0027json_object\u0027 } }, temperature: 0.1, max_output_tokens: 500 }) }}","options":{}},"name":"7. Extraer con IA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,200],"credentials":{"httpHeaderAuth":{"id":"UaTumCTaiqXx8eWi","name":"OpenAI API Key"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst metaItems = $(\u00274. Hay Nuevos?\u0027).all();\nconst results = [];\n\nfor (let i = 0; i \u003c items.length; i++) {\n  const item = items[i];\n  const meta = metaItems[i]?.json || {};\n\n  const content = item.json?.output?.[0]?.content?.[0]?.text || \u0027{}\u0027;\n  let parsed;\n  try {\n    const clean = content.replace(/```json\\n?/g, \u0027\u0027).replace(/```\\n?/g, \u0027\u0027).trim();\n    parsed = JSON.parse(clean);\n  } catch (e) {\n    parsed = {};\n  }\n\n  const now = new Date();\n  const months = [\u0027ENERO\u0027,\u0027FEBRERO\u0027,\u0027MARZO\u0027,\u0027ABRIL\u0027,\u0027MAYO\u0027,\u0027JUNIO\u0027,\u0027JULIO\u0027,\u0027AGOSTO\u0027,\u0027SEPTIEMBRE\u0027,\u0027OCTUBRE\u0027,\u0027NOVIEMBRE\u0027,\u0027DICIEMBRE\u0027];\n  const mes = months[now.getMonth()];\n  const fecha = now.toISOString().split(\u0027T\u0027)[0];\n\n  results.push({\n    json: {\n      appendBody: {\n        values: [[\n          mes,\n          parsed.nombre || \u0027\u0027,\n          \u0027\u0027,\n          \u0027\u0027,\n          parsed.residencia || \u0027\u0027,\n          fecha,\n          \u0027\u0027,\n          parsed.correo || \u0027\u0027,\n          parsed.telefono || \u0027\u0027,\n          \u0027Google Drive (auto)\u0027,\n          \u0027\u0027,\n          \u0027\u0027,\n          \u0027\u0027,\n          \u0027\u0027,\n          \u0027\u0027,\n          \u0027\u0027,\n          parsed.comentarios || \u0027\u0027,\n          \u0027Nuevo\u0027,\n          parsed.posicion || \u0027\u0027,\n          \u0027\u0027,\n          \u0027\u0027,\n          \u0027\u0027,\n          \u0027insert\u0027,\n          meta.fileId || \u0027\u0027,\n          meta.fileName || \u0027\u0027,\n          new Date().toISOString()\n        ]]\n      },\n      fileName: meta.fileName || \u0027\u0027,\n      nombre: parsed.nombre || \u0027\u0027,\n      status: \u0027inserted\u0027\n    }\n  });\n}\n\nreturn results;"},"name":"8. Procesar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,200]},{"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/1uA-gJv8JUimuo23stgf5VSxaa7y6mcYwdZCShYhLNz4/values/A:Z:append?valueInputOption=USER_ENTERED\u0026insertDataOption=INSERT_ROWS","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json.appendBody) }}","options":{}},"name":"9. Insertar en Sheets","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,200],"credentials":{"googleSheetsOAuth2Api":{"id":"rFPPDXPxZCeuB9QJ","name":"Google Sheets account"}}},{"parameters":{},"name":"10. Sin Nuevos","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,450]}],"connections":{"Ejecutar Manual":{"main":[[{"node":"1. Buscar PDFs en Drive","type":"main","index":0}]]},"Webhook Test":{"main":[[{"node":"1. Buscar PDFs en Drive","type":"main","index":0}]]},"1. Buscar PDFs en Drive":{"main":[[{"node":"2. Leer Sheets","type":"main","index":0}]]},"2. Leer Sheets":{"main":[[{"node":"3. Comparar Nuevos","type":"main","index":0}]]},"3. Comparar Nuevos":{"main":[[{"node":"4. Hay Nuevos?","type":"main","index":0}]]},"4. Hay Nuevos?":{"main":[[{"node":"5. Descargar PDF","type":"main","index":0}],[{"node":"10. Sin Nuevos","type":"main","index":0}]]},"5. Descargar PDF":{"main":[[{"node":"6. Subir a OpenAI","type":"main","index":0}]]},"6. Subir a OpenAI":{"main":[[{"node":"7. Extraer con IA","type":"main","index":0}]]},"7. Extraer con IA":{"main":[[{"node":"8. Procesar Respuesta","type":"main","index":0}]]},"8. Procesar Respuesta":{"main":[[{"node":"9. Insertar en Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"active":true}