workflows/rrhh-la-casa-agency.json
{"updatedAt":"2026-02-13T13:31:30.091Z","createdAt":"2026-02-12T14:36:10.368Z","id":"7ELtvdYY0xq2eOU4","name":"La Casa Agency RH - Auto completar Google Sheet","description":null,"active":"True","isArchived":"False","nodes":[{"parameters":{},"id":"88edb2d9-6fc3-4c7b-a4ee-0fc524ff91d7","name":"Ejecutar Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-12912,3904]},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════════════\n// SETUP COMPLETO - La Casa Agency RRHH\n// Genera estructura real de carpetas con PDFs de prueba\n// Periodo: Enero + Febrero 2026 (hasta semana actual)\n// Posiciones: ASESOR COMERCIAL, FINANZATE, ADMINISTRADOR DE FINCAS\n// Ciudades: BARCELONA, VALENCIA, MADRID\n// ══════════════════════════════════════════════════════════════\n\nconst basePath = 'Base de datos/2026';\n\nconst pdfs = [\n\n  // ═══════════════════════════════════════════\n  // ENERO - 1a SEMANA (5-10 ene)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/CITADOS`, name: 'CV_LUCIA_MORENO_VEGA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/CITADOS`, name: 'CV_MARC_PUIG_FERRER.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_PEDRO_RUIZ_SALA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_SANDRA_LOPEZ_MARIN.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_TONI_CAMPS_RIOS.pdf' },\n\n  // ASESOR COMERCIAL - VALENCIA\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/1. ENERO/1a SEMANA/CITADOS`, name: 'CV_CARMEN_NAVARRO_GIL.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_JORGE_MARTINEZ_POLO.pdf' },\n\n  // FINANZATE - BARCELONA\n  { path: `${basePath}/FINANZATE/BARCELONA/1. ENERO/1a SEMANA/CITADOS`, name: 'CV_MIREIA_FONT_CASAS.pdf' },\n  { path: `${basePath}/FINANZATE/BARCELONA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_RAUL_SERRA_BOSCH.pdf' },\n\n  // ═══════════════════════════════════════════\n  // ENERO - 2a SEMANA (12-17 ene)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/2a SEMANA/CITADOS`, name: 'CV_ALBA_TORRES_PENA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/2a SEMANA/CITADOS`, name: 'CV_DANIEL_SOLER_ROCA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/2a SEMANA/DESCARTADOS`, name: 'CV_IVAN_CORTES_LUNA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/2a SEMANA/CITAS FUERA JORNADA`, name: 'CV_SILVIA_GARCIA_MORA.pdf' },\n\n  // ASESOR COMERCIAL - MADRID\n  { path: `${basePath}/ASESOR COMERCIAL/MADRID/1. ENERO/2a SEMANA/CITADOS`, name: 'CV_ELENA_PRIETO_VALLE.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/MADRID/1. ENERO/2a SEMANA/DESCARTADOS`, name: 'CV_FELIPE_HERRERO_SAEZ.pdf' },\n\n  // ADMINISTRADOR DE FINCAS - BARCELONA\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/2a SEMANA/CITADOS`, name: 'CV_MONTSE_VIDAL_PUIG.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/2a SEMANA/DESCARTADOS`, name: 'CV_OSCAR_BLANCO_MAS.pdf' },\n\n  // ═══════════════════════════════════════════\n  // ENERO - 3a SEMANA (19-24 ene)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/3a SEMANA/CITADOS`, name: 'CV_PAULA_DELGADO_REY.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/3a SEMANA/DESCARTADOS`, name: 'CV_ADRIAN_MENDEZ_CRUZ.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/3a SEMANA/DESCARTADOS`, name: 'CV_BERTA_RAMOS_ORTIZ.pdf' },\n\n  // FINANZATE - VALENCIA\n  { path: `${basePath}/FINANZATE/VALENCIA/1. ENERO/3a SEMANA/CITADOS`, name: 'CV_SERGIO_MOLINA_BLAS.pdf' },\n  { path: `${basePath}/FINANZATE/VALENCIA/1. ENERO/3a SEMANA/DESCARTADOS`, name: 'CV_CRISTINA_PONS_LLUCH.pdf' },\n\n  // ═══════════════════════════════════════════\n  // ENERO - 4a SEMANA (26-31 ene)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/4a SEMANA/CITADOS`, name: 'CV_NEREA_CAMPOS_ABAD.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/4a SEMANA/DESCARTADOS`, name: 'CV_VICTOR_IBARRA_LEON.pdf' },\n\n  // ADMINISTRADOR DE FINCAS - BARCELONA\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/4a SEMANA/CITADOS`, name: 'CV_LAIA_ESTEVE_GRAU.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/4a SEMANA/DESCARTADOS`, name: 'CV_ROGER_COSTA_PUJOL.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/4a SEMANA/CITAS FUERA JORNADA`, name: 'CV_GEMMA_SALA_MIRO.pdf' },\n\n  // ═══════════════════════════════════════════\n  // FEBRERO - 1a SEMANA (2-7 feb)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_ARNAU_FERRER_VALLS.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_INES_PASCUAL_ROS.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/1a SEMANA/DESCARTADOS`, name: 'CV_MANUEL_CRESPO_DIEZ.pdf' },\n\n  // ASESOR COMERCIAL - VALENCIA\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_RAQUEL_GIMENEZ_PARDO.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/2. FEBRERO/1a SEMANA/DESCARTADOS`, name: 'CV_DIEGO_ALONSO_FUENTES.pdf' },\n\n  // FINANZATE - BARCELONA\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_CLARA_DOMENECH_BOU.pdf' },\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/1a SEMANA/DESCARTADOS`, name: 'CV_HECTOR_ROIG_NADAL.pdf' },\n\n  // ADMINISTRADOR DE FINCAS - MADRID\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/MADRID/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_TERESA_MOYA_SEGURA.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/MADRID/2. FEBRERO/1a SEMANA/DESCARTADOS`, name: 'CV_RUBEN_PRATS_OLIVE.pdf' },\n\n  // ═══════════════════════════════════════════\n  // FEBRERO - 2a SEMANA (9-14 feb) ← SEMANA ACTUAL\n  // Incluye PENDIENTES (CVs recien llegados sin clasificar)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_PEPE_GARCIA_NAVARRO.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_ANA_MARTINEZ_RUIZ.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_JORDI_BLANCH_SEGUI.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_MARIA_FERNANDEZ_GIL.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA/DESCARTADOS`, name: 'CV_JUAN_PEREZ_BLANCO.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA/CITAS FUERA JORNADA`, name: 'CV_ROSA_GOMEZ_TORRES.pdf' },\n\n  // ASESOR COMERCIAL - VALENCIA\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/2. FEBRERO/2a SEMANA`, name: 'CV_CARLOS_LOPEZ_DIAZ.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_LAURA_SANCHEZ_VEGA.pdf' },\n\n  // ASESOR COMERCIAL - MADRID\n  { path: `${basePath}/ASESOR COMERCIAL/MADRID/2. FEBRERO/2a SEMANA`, name: 'CV_ALVARO_REYES_NIETO.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/MADRID/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_BEATRIZ_ROMERO_SANZ.pdf' },\n\n  // FINANZATE - BARCELONA\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_PABLO_RUIZ_MORENO.pdf' },\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_ELENA_DIAZ_CASTRO.pdf' },\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/2a SEMANA/DESCARTADOS`, name: 'CV_SERGIO_MOLINA_ROCA.pdf' },\n\n  // ADMINISTRADOR DE FINCAS - BARCELONA\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_MARTA_JIMENEZ_PRAT.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_DAVID_SOLER_FONT.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_NURIA_VIDAL_SERRA.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/2. FEBRERO/2a SEMANA/DESCARTADOS`, name: 'CV_ALEX_PUIG_COSTA.pdf' }\n];\n\nreturn [{ json: { pdfs, totalPdfs: pdfs.length } }];"},"id":"1bf13be4-be45-4118-a484-58f0a362ef93","name":"Definir Estructura","type":"n8n-nodes-base.code","typeVersion":2,"position":[-12688,3904]},{"parameters":{"jsCode":"const { pdfs } = $input.first().json;\nreturn pdfs.map(p => ({ json: { ...p } }));"},"id":"085b8ae0-21c5-4b11-9b43-9be35a3e8343","name":"Split PDFs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-12464,3904]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"id":"f63a4396-84a6-45e3-b267-528246b62e32","name":"Cron 3min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-12912,4320]},{"parameters":{"url":"=https://graph.microsoft.com/v1.0/me/drive/search(q='.pdf')?$top=200&$select=id,name,size,lastModifiedDateTime,webUrl,parentReference,file","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftOneDriveOAuth2Api","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"d633d30a-2875-479f-b55e-e740e38ce331","name":"1. Buscar PDFs OneDrive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-12688,4320],"credentials":{"microsoftOneDriveOAuth2Api":{"id":"OF2rMJ4ZrCjjkJwn","name":"Microsoft Drive account"}},"notes":"OneDrive Personal: /me/drive/\nPara SharePoint: /sites/{siteId}/drives/{driveId}/root:/...\n$top=200 para paginacion. Si hay mas, usar @odata.nextLink"},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════\n// Parsear TODOS los PDFs y devolver UN SOLO item con array\n// Esto permite leer la Sheet 1 sola vez\n// ══════════════════════════════════════════════════════\n\nconst firstResponse = $input.first().json;\nlet files = firstResponse.value || [];\nlet nextLink = firstResponse['@odata.nextLink'];\nwhile (nextLink) {\n  try {\n    const pageResp = await this.helpers.requestWithAuthentication.call(\n      this, 'microsoftOneDriveOAuth2Api', { method: 'GET', uri: nextLink, json: true }\n    );\n    files = files.concat(pageResp.value || []);\n    nextLink = pageResp['@odata.nextLink'] || null;\n  } catch (e) { console.log('Pagination error:', e.message); break; }\n}\n\nconst ESTADO_MAP = {\n  'CITADOS': 'CITADO',\n  'DESCARTADOS': 'DESCARTADO',\n  'CITAS FUERA JORNADA': 'CITA_FUERA_JORNADA'\n};\n\nfunction normalizeName(str) {\n  return (str || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst pdfs = [];\n\nfor (const file of files) {\n  if (!file.name || !file.name.toLowerCase().endsWith('.pdf')) continue;\n  \n  const parentPath = decodeURIComponent(file.parentReference?.path || '');\n  const fullPath = parentPath + '/' + file.name;\n  \n  const year = new Date().getFullYear().toString();
  if (!parentPath.includes('Base de datos')) continue;
  const afterBase = parentPath.split('/' + year + '/');\n  if (afterBase.length < 2) continue;\n  \n  const pathParts = afterBase[1].split('/');\n  if (pathParts.length < 4) continue;\n  \n  const posicion = pathParts[0] || '';\n  const ciudad = pathParts[1] || '';\n  const mes = pathParts[2] || '';\n  const semana = pathParts[3] || '';\n  const subcarpeta = pathParts[4] || '';\n  \n  let estado = 'PENDIENTE';\n  for (const [carpeta, est] of Object.entries(ESTADO_MAP)) {\n    if (subcarpeta.toUpperCase().includes(carpeta.toUpperCase())) {\n      estado = est;\n      break;\n    }\n  }\n  \n  let nombreArchivo = file.name\n    .replace(/\\.pdf$/i, '')\n    .replace(/^CV[_\\s-]*/i, '')\n    .replace(/[_-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  const nombreFormateado = nombreArchivo\n    .replace(/\\b\\w/g, c => c.toUpperCase());\n  \n  pdfs.push({\n    fileId: file.id,\n    fileName: file.name,\n    filePath: fullPath,\n    fileSize: file.size,\n    lastModified: file.lastModifiedDateTime,\n    webUrl: file.webUrl || '',\n    posicion, ciudad, mes, semana, subcarpeta, estado,\n    nombreArchivo: nombreFormateado,\n    nombreNormalizado: normalizeName(nombreFormateado)\n  });\n}\n\n// Devolver UN SOLO item con el array de PDFs\nreturn [{ json: { pdfs, totalPdfs: pdfs.length, empty: pdfs.length === 0 } }];"},"id":"b3a57c7d-e44b-49fa-bb81-e804b88fd762","name":"2. Parsear Rutas","type":"n8n-nodes-base.code","typeVersion":2,"position":[-12464,4320]},{"parameters":{"conditions":{"options":{"caseSensitive":"False","leftValue":"","typeValidation":"loose"},"conditions":[{"id":"c1","leftValue":"={{ $json.totalPdfs }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"0d8c1e4e-3e8a-4cb9-aa8b-13c53206aa3c","name":"Hay archivos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-12240,4320]},{"parameters":{"operation":"getAll","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"}},"id":"5428f502-46f6-434d-a872-427937196057","name":"3. Leer Sheet COMPLETA","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-12016,4320],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}},"onError":"continueRegularOutput","notes":"Lee TODA la sheet de una sola vez para evitar multiples llamadas API"},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════\n// COMPARAR PDFs vs Sheet - BIDIRECCIONAL\n// Usa Log para tracking de sync (no columnas ocultas)\n// ══════════════════════════════════════════════════════\n\nfunction norm(str) {\n  return (str || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst sheetRows = $('3. Leer Sheet COMPLETA').all().map(i => i.json);\nconst logRows = $('3b. Leer Log').all().map(i => i.json);\n\n// Indice Sheet por nombre\nconst sheetByName = {};\nfor (let i = 0; i < sheetRows.length; i++) {\n  const row = sheetRows[i];\n  const key = norm(row.NOMBRE || '');\n  if (key && !sheetByName[key]) {\n    sheetByName[key] = { ...row, _rowIndex: i + 2 };\n  }\n}\n\n// Indice Log: ultimo estado sincronizado por nombre\n// El Log tiene: timestamp, nombre, accion, situacion_anterior, situacion_nueva\nconst lastSync = {};\nfor (const log of logRows) {\n  const key = norm(log.nombre || '');\n  if (key) {\n    // El ultimo log entry gana (estan en orden cronologico)\n    lastSync[key] = norm(log.situacion_nueva || '');\n  }\n}\n\nconst pdfs = $('2. Parsear Rutas').first().json.pdfs || [];\nconst results = [];\nconst yaVistos = new Set();\nlet stats = { insertar: 0, actualizar_sheet: 0, mover_onedrive: 0, skip: 0 };\n\nfor (const pdf of pdfs) {\n  const batchKey = pdf.nombreNormalizado + '|' + norm(pdf.posicion);\n  if (yaVistos.has(batchKey)) { stats.skip++; continue; }\n  yaVistos.add(batchKey);\n\n  const match = sheetByName[pdf.nombreNormalizado] || null;\n  \n  if (!match) {\n    results.push({ json: { ...pdf, accion: 'INSERTAR' }});\n    stats.insertar++;\n    continue;\n  }\n  \n  const sheetEstado = norm(match['SITUACIÓN'] || match['SITUACION'] || '');\n  const onedriveEstado = norm(pdf.estado);\n  const ultimoSync = lastSync[pdf.nombreNormalizado] || '';\n  \n  if (sheetEstado === onedriveEstado) {\n    stats.skip++;\n    continue;\n  }\n  \n  // HAY DIFERENCIA\n  if (!ultimoSync || ultimoSync === sheetEstado) {\n    // OneDrive cambio → actualizar Sheet\n    results.push({ json: {\n      ...pdf, accion: 'ACTUALIZAR_SHEET',\n      situacionAnterior: match['SITUACIÓN'] || match['SITUACION'] || '',\n      matchNombre: match.NOMBRE,\n      matchRowIndex: match._rowIndex\n    }});\n    stats.actualizar_sheet++;\n  } else if (ultimoSync === onedriveEstado) {\n    // Sheet cambio → mover en OneDrive\n    const nuevoEstado = (match['SITUACIÓN'] || match['SITUACION'] || '').trim();\n    results.push({ json: {\n      ...pdf, accion: 'MOVER_ONEDRIVE',\n      nuevoEstado,\n      situacionAnterior: pdf.estado,\n      matchNombre: match.NOMBRE,\n      matchRowIndex: match._rowIndex\n    }});\n    stats.mover_onedrive++;\n  } else {\n    // Conflicto → Sheet gana\n    const nuevoEstado = (match['SITUACIÓN'] || match['SITUACION'] || '').trim();\n    results.push({ json: {\n      ...pdf, accion: 'MOVER_ONEDRIVE',\n      nuevoEstado, situacionAnterior: pdf.estado,\n      matchNombre: match.NOMBRE, matchRowIndex: match._rowIndex,\n      _conflicto: true\n    }});\n    stats.mover_onedrive++;\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { accion: 'NINGUNA', _skip: true, _resumen: JSON.stringify(stats) }}];\n}\nresults[0].json._resumen = JSON.stringify(stats);\nreturn results;"},"id":"7c6e7658-e164-4d56-9e78-2720602dde0c","name":"4. Comparar PDF vs Sheet","type":"n8n-nodes-base.code","typeVersion":2,"position":[-11568,4320]},{"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"INSERTAR","operator":{"type":"string","operation":"equals"}}]},"renameOutput":"True","outputKey":"NUEVO"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"ACTUALIZAR_SHEET","operator":{"type":"string","operation":"equals"}}]},"renameOutput":"True","outputKey":"ACTUALIZAR_SHEET"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"MOVER_ONEDRIVE","operator":{"type":"string","operation":"equals"}}]},"renameOutput":"True","outputKey":"MOVER_ONEDRIVE"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"NINGUNA","operator":{"type":"string","operation":"equals"}}]},"renameOutput":"True","outputKey":"SKIP"}]},"options":{}},"id":"8d3f5bd6-4325-4f71-954c-fb0bd427efbb","name":"5. Switch Accion","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-11344,4288]},{"parameters":{"operation":"append","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"},"sheetName":{"__rl":"True","value":1135598434,"mode":"list","cachedResultName":"BASE DE DATOS 2026 BCN","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM/edit#gid=1135598434"},"columns":{"mappingMode":"defineBelow","value":{"MES":"={{ $json.MES }}","NOMBRE":"={{ $json.NOMBRE }}","FORMATO":"={{ $json.FORMATO }}","OFICINA":"={{ $json.OFICINA }}"," RESIDENCIA":"={{ $json[' RESIDENCIA'] }}","FECHA":"={{ $json.FECHA }}","HORA":"={{ $json.HORA }}","CORREO":"={{ $json.CORREO }}","TELÉFONO":"={{ $json['TELÉFONO'] }}","FUENTE":"={{ $json.FUENTE }}","CONFIRMACIÓN":"={{ $json['CONFIRMACIÓN'] }}","CITADO POR":"={{ $json['CITADO POR'] }}","ASISTENCIA":"={{ $json.ASISTENCIA }}","ENTREVISTADO POR":"={{ $json['ENTREVISTADO POR'] }}","MOTIVO DESCARTE":"={{ $json['MOTIVO DESCARTE'] }}","MAIL DESCARTE":"={{ $json['MAIL DESCARTE'] }}","COMENTARIOS":"={{ $json.COMENTARIOS }}","SITUACIÓN":"={{ $json['SITUACIÓN'] }}","POSICIÓN":"={{ $json['POSICIÓN'] }}","INICIO":"={{ $json.INICIO }}","FIN":"={{ $json.FIN }}","CAUSA":"={{ $json.CAUSA }}"}},"options":{"cellFormat":"USER_ENTERED"}},"id":"1543382f-6a6d-46e3-9a33-8a085d66f077","name":"7a. Insertar en Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-10896,4320],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}}},{"parameters":{"jsCode":"const item = $input.first().json;\n\nreturn [{ json: {\n  NOMBRE: item.matchNombre || item.nombreArchivo,\n  'SITUACIÓN': item.estado,\n  _accion: 'ACTUALIZAR_SHEET',\n  _situacionAnterior: item.situacionAnterior,\n  _fileName: item.fileName\n} }];"},"id":"3323d854-39db-4b77-a121-1638415867ea","name":"6e. Preparar Actualizacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[-11120,4512]},{"parameters":{"operation":"update","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"},"sheetName":{"__rl":"True","value":1135598434,"mode":"list","cachedResultName":"BASE DE DATOS 2026 BCN","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM/edit#gid=1135598434"},"columns":{"mappingMode":"autoMapInputData","value":null,"matchingColumns":["NOMBRE"],"schema":[],"attemptToConvertTypes":"False","convertFieldsToString":"False","ignoreAdditionalFields":"True"},"options":{"cellFormat":"USER_ENTERED"}},"id":"b977c9ef-3619-4819-94b2-72c92eecc9bc","name":"7b. Actualizar en Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-10896,4512],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"},"sheetName":{"__rl":"True","value":"Log","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now.toISO() }}","nombre":"={{ $json.NOMBRE || '' }}","accion":"={{ $json._accion || 'DESCONOCIDA' }}","situacion_anterior":"={{ $json._situacionAnterior || 'N/A' }}","situacion_nueva":"={{ $json['SITUACIÓN'] || '' }}","posicion":"={{ $json['POSICIÓN'] || '' }}","archivo":"={{ $json._fileName || '' }}"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"nombre","displayName":"nombre","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"accion","displayName":"accion","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"situacion_anterior","displayName":"situacion_anterior","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"situacion_nueva","displayName":"situacion_nueva","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"posicion","displayName":"posicion","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"archivo","displayName":"archivo","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"}],"attemptToConvertTypes":"False","convertFieldsToString":"False"},"options":{"cellFormat":"USER_ENTERED"}},"id":"ee31d0cb-148f-4f03-95d9-b2833dbf6118","name":"8. Log Cambio","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-10672,4320],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":"False","leftValue":"","typeValidation":"loose"},"conditions":[{"id":"c2","leftValue":"={{ $json['SITUACIÓN'] }}","rightValue":"CITADO","operator":{"type":"string","operation":"equals"}},{"id":"c3","leftValue":"={{ $json._accion }}","rightValue":"INSERTAR","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"f488e1e2-16a5-489a-a376-de5a8d64291f","name":"9. Es citado nuevo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-10448,4320],"notes":"Lanza WF2 si:\n- Estado es CITADO (cambio de carpeta)\n- O es un insert nuevo con estado CITADO\nEvita lanzar WF2 para candidatos ya procesados"},{"parameters":{"workflowId":{"__rl":"True","value":"CONFIGURAR_WF2_WORKFLOW_ID","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"id":"b8beace2-6b6c-402f-a7bd-505514cfb215","name":"10. Lanzar WF2 WhatsApp","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-10224,4320]},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════\n// NODO UNIFICADO: Descargar PDF + Extraer IA + Preparar fila\n// Un solo Code node para evitar paired item issues de n8n\n// ══════════════════════════════════════════════════════\n\nconst rutaData = $input.first().json;\nconst API_KEY = $vars.OPENAI_API_KEY; // ← CAMBIAR POR TU API KEY\n\n// --- 1. Descargar PDF de OneDrive ---\nlet pdfBase64 = '';\ntry {\n  const downloadResp = await this.helpers.requestWithAuthentication.call(\n    this, 'microsoftOneDriveOAuth2Api', {\n      method: 'GET',\n      uri: 'https://graph.microsoft.com/v1.0/me/drive/items/' + rutaData.fileId + '/content',\n      encoding: null,\n      resolveWithFullResponse: true\n    }\n  );\n  pdfBase64 = Buffer.from(downloadResp.body).toString('base64');\n} catch (e) {\n  // Si falla la descarga, continuamos solo con el nombre del archivo\n  console.log('Download failed:', e.message);\n}\n\n// --- 2. Llamar GPT-4o via OpenAI ---\nlet cv = {};\ntry {\n  const userContent = pdfBase64\n    ? [\n        { type: 'file', file: { filename: rutaData.fileName, file_data: 'data:application/pdf;base64,' + pdfBase64 } },\n        { type: 'text', text: 'Extrae los datos de este CV de InfoJobs.' }\n      ]\n    : 'Extrae los datos de este CV basandote en el nombre del archivo: ' + rutaData.fileName + '. Solo tienes el nombre del archivo, extrae lo que puedas.';\n\n  const aiResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: { 'Authorization': 'Bearer ' + API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      model: 'gpt-4o',\n      messages: [\n        {\n          role: 'system',\n          content: `Eres un extractor de datos de CVs de InfoJobs para una empresa inmobiliaria. Extrae los datos del candidato y responde UNICAMENTE con JSON valido (sin markdown, sin backticks). Campos:\n{\n  \"nombre_completo\": \"Nombre y apellidos exactos\",\n  \"email\": \"email o vacio\",\n  \"telefono\": \"telefono con prefijo o vacio\",\n  \"residencia\": \"ciudad o barrio de residencia o vacio\",\n  \"edad\": \"numero o vacio\",\n  \"experiencia_resumen\": \"max 50 palabras\",\n  \"formacion\": \"nivel formativo principal\",\n  \"disponibilidad\": \"inmediata/parcial/especificar o vacio\",\n  \"idiomas\": \"lista de idiomas o vacio\",\n  \"carnet_conducir\": \"si/no/vacio\",\n  \"vehiculo_propio\": \"si/no/vacio\"\n}\nReglas: Si un dato no aparece, pon string vacio. NUNCA inventes datos. SOLO JSON.`\n        },\n        { role: 'user', content: userContent }\n      ],\n      max_tokens: 600,\n      temperature: 0\n    },\n    json: true,\n    timeout: 30000\n  });\n\n  const raw = aiResp.choices?.[0]?.message?.content || '{}';\n  cv = JSON.parse(raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim());\n} catch (e) {\n  console.log('AI extraction failed:', e.message);\n  cv = { nombre_completo: rutaData.nombreArchivo || '' };\n}\n\n// --- 3. Preparar fila para Google Sheet ---\n// Decodificar URL encoding del path de OneDrive\nconst mesRaw = (rutaData.mes || '').replace(/%20/g, ' ');\n\nconst mesMap = {\n  '1. ENERO': 'Enero', '2. FEBRERO': 'Febrero', '3. MARZO': 'Marzo',\n  '4. ABRIL': 'Abril', '5. MAYO': 'Mayo', '6. JUNIO': 'Junio',\n  '7. JULIO': 'Julio', '8. AGOSTO': 'Agosto', '9. SEPTIEMBRE': 'Septiembre',\n  '10. OCTUBRE': 'Octubre', '11. NOVIEMBRE': 'Noviembre', '12. DICIEMBRE': 'Diciembre'\n};\n\nconst nombre = (cv.nombre_completo && cv.nombre_completo.length > 3)\n  ? cv.nombre_completo\n  : (rutaData.nombreArchivo || 'Desconocido');\n\n// --- 4. Validar: sin telefono = no insertar ---\nconst telefono = (cv.telefono || '').replace(/[^0-9]/g, '');\nif (telefono.length < 9) {\n  return [{ json: {\n    _accion: 'SIN_TELEFONO',\n    _fileName: rutaData.fileName,\n    NOMBRE: nombre,\n    OFICINA: rutaData.ciudad || '',\n    COMENTARIOS: 'CV sin telefono - revision manual'\n  }}];\n}\n\nreturn [{\n  json: {\n    MES: mesMap[mesRaw] || mesRaw.replace(/^\\d+\\.\\s*/, '') || '',\n    NOMBRE: nombre,\n    FORMATO: '',\n    OFICINA: rutaData.ciudad || '',\n    ' RESIDENCIA': cv.residencia || '',\n    FECHA: new Date().toLocaleDateString('es-ES'),\n    HORA: '',\n    CORREO: cv.email || '',\n    'TELÉFONO': cv.telefono || '',\n    FUENTE: 'InfoJobs',\n    'CONFIRMACIÓN': '',\n    'CITADO POR': '',\n    ASISTENCIA: '',\n    'ENTREVISTADO POR': '',\n    'MOTIVO DESCARTE': '',\n    'MAIL DESCARTE': '',\n    COMENTARIOS: [\n      cv.experiencia_resumen ? 'Exp: ' + cv.experiencia_resumen : '',\n      cv.formacion ? 'Form: ' + cv.formacion : '',\n      cv.idiomas ? 'Idiomas: ' + cv.idiomas : '',\n      cv.edad ? 'Edad: ' + cv.edad : '',\n      cv.carnet_conducir === 'si' ? 'Carnet: Si' : '',\n      cv.vehiculo_propio === 'si' ? 'Vehiculo: Si' : ''\n    ].filter(Boolean).join(' | '),\n    'SITUACIÓN': rutaData.estado || '',\n    'POSICIÓN': rutaData.posicion || '',\n    INICIO: '',\n    FIN: '',\n    CAUSA: '',\n    _accion: 'INSERTAR',\n    _fileName: rutaData.fileName || ''\n  }\n}];"},"id":"e1158928-7218-4e04-b7b8-3e7ed14b3fb8","name":"6. Descargar + IA + Preparar","type":"n8n-nodes-base.code","typeVersion":2,"position":[-11120,4320],"notes":"Nodo unificado: descarga PDF + GPT-4o + prepara fila.\nCONFIGURAR: cambiar CONFIGURAR_OPENAI_API_KEY por tu API key real."},{"parameters":{"operation":"getAll","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"}},"id":"306254db-17a6-40c4-a330-400ff0b69c0e","name":"3b. Leer Log","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-11792,4320],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Mover archivo en OneDrive segun cambio en Sheet\nconst item = $input.first().json;\n\nconst CARPETA_MAP = {\n  'CITADO': 'CITADOS',\n  'DESCARTADO': 'DESCARTADOS',\n  'CITA_FUERA_JORNADA': 'CITAS FUERA JORNADA',\n  'PENDIENTE': ''\n};\n\nconst nuevoEstado = (item.nuevoEstado || '').toUpperCase().trim();\nlet estadoNorm = 'PENDIENTE';\nif (nuevoEstado.includes('CITADO') && !nuevoEstado.includes('DESCARTADO') && !nuevoEstado.includes('FUERA')) {\n  estadoNorm = 'CITADO';\n} else if (nuevoEstado.includes('DESCARTADO') || nuevoEstado.includes('DESCARTE')) {\n  estadoNorm = 'DESCARTADO';\n} else if (nuevoEstado.includes('FUERA') || nuevoEstado.includes('CITA_FUERA')) {\n  estadoNorm = 'CITA_FUERA_JORNADA';\n}\n\nconst subcarpeta = CARPETA_MAP[estadoNorm] || '';\nconst basePath = '/drive/root:/Base de datos/' + new Date().getFullYear() + '/' + item.posicion + '/' + item.ciudad + '/' + item.mes + '/' + item.semana;\nconst destPath = subcarpeta ? basePath + '/' + subcarpeta : basePath;\n\ntry {\n  await this.helpers.requestWithAuthentication.call(\n    this, 'microsoftOneDriveOAuth2Api', {\n      method: 'PATCH',\n      uri: 'https://graph.microsoft.com/v1.0/me/drive/items/' + item.fileId,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ parentReference: { path: destPath } })\n    }\n  );\n  \n  return [{ json: {\n    NOMBRE: item.matchNombre || item.nombreArchivo,\n    'SITUACIÓN': estadoNorm,\n    _accion: 'MOVER_ONEDRIVE',\n    _situacionAnterior: item.estado,\n    _fileName: item.fileName\n  }}];\n} catch (e) {\n  throw new Error(`Move failed for ${item.fileName}: ${e.message}`);\n}"},"id":"f4afb13d-951f-4a5e-8b30-f28d692b68d9","name":"6f. Mover en OneDrive","type":"n8n-nodes-base.code","typeVersion":2,"position":[-10896,4128]}],"connections":{"Ejecutar Manual":{"main":[[{"node":"Definir Estructura","type":"main","index":0}]]},"Definir Estructura":{"main":[[{"node":"Split PDFs","type":"main","index":0}]]},"Split PDFs":{"main":[[]]},"Cron 3min":{"main":[[{"node":"1. Buscar PDFs OneDrive","type":"main","index":0}]]},"1. Buscar PDFs OneDrive":{"main":[[{"node":"2. Parsear Rutas","type":"main","index":0}]]},"2. Parsear Rutas":{"main":[[{"node":"Hay archivos?","type":"main","index":0}]]},"Hay archivos?":{"main":[[{"node":"3. Leer Sheet COMPLETA","type":"main","index":0}]]},"3. Leer Sheet COMPLETA":{"main":[[{"node":"3b. Leer Log","type":"main","index":0}]]},"4. Comparar PDF vs Sheet":{"main":[[{"node":"5. Switch Accion","type":"main","index":0}]]},"5. Switch Accion":{"main":[[{"node":"6. Descargar + IA + Preparar","type":"main","index":0}],[{"node":"6e. Preparar Actualizacion","type":"main","index":0}],[{"node":"6f. Mover en OneDrive","type":"main","index":0}]]},"7a. Insertar en Sheet":{"main":[[{"node":"8. Log Cambio","type":"main","index":0}]]},"6e. Preparar Actualizacion":{"main":[[{"node":"7b. Actualizar en Sheet","type":"main","index":0}]]},"7b. Actualizar en Sheet":{"main":[[{"node":"8. Log Cambio","type":"main","index":0}]]},"8. Log Cambio":{"main":[[{"node":"9. Es citado nuevo?","type":"main","index":0}]]},"9. Es citado nuevo?":{"main":[[{"node":"10. Lanzar WF2 WhatsApp","type":"main","index":0}]]},"6. Descargar + IA + Preparar":{"main":[[{"node":"7a. Insertar en Sheet","type":"main","index":0}]]},"6f. Mover en OneDrive":{"main":[[{"node":"8. Log Cambio","type":"main","index":0}]]},"3b. Leer Log":{"main":[[{"node":"4. Comparar PDF vs Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":"False"},"staticData":{"node:Cron 3min":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":"True"},"pinData":{},"versionId":"307d4b19-d416-471f-bbc7-118e55987bdf","activeVersionId":"1bfec2ae-f3b7-4a76-84fc-f109916aa60d","versionCounter":158,"triggerCount":1,"shared":[{"updatedAt":"2026-02-12T14:36:10.368Z","createdAt":"2026-02-12T14:36:10.368Z","role":"workflow:owner","workflowId":"7ELtvdYY0xq2eOU4","projectId":"U9qViLPrGcVXNF3N","project":{"updatedAt":"2025-07-28T11:47:27.210Z","createdAt":"2025-07-28T11:21:05.569Z","id":"U9qViLPrGcVXNF3N","name":"Ivan Madrid <appconexia@conexiatec.com>","type":"personal","icon":null,"description":null,"creatorId":"0dadf7b3-164c-4595-8178-913217f7f722","projectRelations":[{"updatedAt":"2025-07-28T11:21:05.569Z","createdAt":"2025-07-28T11:21:05.569Z","userId":"0dadf7b3-164c-4595-8178-913217f7f722","projectId":"U9qViLPrGcVXNF3N","user":{"updatedAt":"2026-02-19T07:19:05.753Z","createdAt":"2025-07-28T11:21:04.326Z","id":"0dadf7b3-164c-4595-8178-913217f7f722","email":"appconexia@conexiatec.com","firstName":"Ivan","lastName":"Madrid","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-28T11:47:19.066Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"linkedin"},"settings":{"userActivated":"True","easyAIWorkflowOnboarded":"True","firstSuccessfulWorkflowId":"kThy08JrV9kZk5oO","userActivatedAt":1756291854610,"npsSurvey":{"responded":"True","lastShownAt":1756054099566}},"disabled":"False","mfaEnabled":"False","lastActiveAt":"2026-02-19","isPending":"False"}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-13T12:35:43.204Z","createdAt":"2026-02-13T12:35:40.479Z","versionId":"1bfec2ae-f3b7-4a76-84fc-f109916aa60d","workflowId":"7ELtvdYY0xq2eOU4","nodes":[{"parameters":{},"id":"88edb2d9-6fc3-4c7b-a4ee-0fc524ff91d7","name":"Ejecutar Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-10768,4080]},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════════════\n// SETUP COMPLETO - La Casa Agency RRHH\n// Genera estructura real de carpetas con PDFs de prueba\n// Periodo: Enero + Febrero 2026 (hasta semana actual)\n// Posiciones: ASESOR COMERCIAL, FINANZATE, ADMINISTRADOR DE FINCAS\n// Ciudades: BARCELONA, VALENCIA, MADRID\n// ══════════════════════════════════════════════════════════════\n\nconst basePath = 'Base de datos/2026';\n\nconst pdfs = [\n\n  // ═══════════════════════════════════════════\n  // ENERO - 1a SEMANA (5-10 ene)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/CITADOS`, name: 'CV_LUCIA_MORENO_VEGA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/CITADOS`, name: 'CV_MARC_PUIG_FERRER.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_PEDRO_RUIZ_SALA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_SANDRA_LOPEZ_MARIN.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_TONI_CAMPS_RIOS.pdf' },\n\n  // ASESOR COMERCIAL - VALENCIA\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/1. ENERO/1a SEMANA/CITADOS`, name: 'CV_CARMEN_NAVARRO_GIL.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_JORGE_MARTINEZ_POLO.pdf' },\n\n  // FINANZATE - BARCELONA\n  { path: `${basePath}/FINANZATE/BARCELONA/1. ENERO/1a SEMANA/CITADOS`, name: 'CV_MIREIA_FONT_CASAS.pdf' },\n  { path: `${basePath}/FINANZATE/BARCELONA/1. ENERO/1a SEMANA/DESCARTADOS`, name: 'CV_RAUL_SERRA_BOSCH.pdf' },\n\n  // ═══════════════════════════════════════════\n  // ENERO - 2a SEMANA (12-17 ene)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/2a SEMANA/CITADOS`, name: 'CV_ALBA_TORRES_PENA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/2a SEMANA/CITADOS`, name: 'CV_DANIEL_SOLER_ROCA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/2a SEMANA/DESCARTADOS`, name: 'CV_IVAN_CORTES_LUNA.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/2a SEMANA/CITAS FUERA JORNADA`, name: 'CV_SILVIA_GARCIA_MORA.pdf' },\n\n  // ASESOR COMERCIAL - MADRID\n  { path: `${basePath}/ASESOR COMERCIAL/MADRID/1. ENERO/2a SEMANA/CITADOS`, name: 'CV_ELENA_PRIETO_VALLE.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/MADRID/1. ENERO/2a SEMANA/DESCARTADOS`, name: 'CV_FELIPE_HERRERO_SAEZ.pdf' },\n\n  // ADMINISTRADOR DE FINCAS - BARCELONA\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/2a SEMANA/CITADOS`, name: 'CV_MONTSE_VIDAL_PUIG.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/2a SEMANA/DESCARTADOS`, name: 'CV_OSCAR_BLANCO_MAS.pdf' },\n\n  // ═══════════════════════════════════════════\n  // ENERO - 3a SEMANA (19-24 ene)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/3a SEMANA/CITADOS`, name: 'CV_PAULA_DELGADO_REY.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/3a SEMANA/DESCARTADOS`, name: 'CV_ADRIAN_MENDEZ_CRUZ.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/3a SEMANA/DESCARTADOS`, name: 'CV_BERTA_RAMOS_ORTIZ.pdf' },\n\n  // FINANZATE - VALENCIA\n  { path: `${basePath}/FINANZATE/VALENCIA/1. ENERO/3a SEMANA/CITADOS`, name: 'CV_SERGIO_MOLINA_BLAS.pdf' },\n  { path: `${basePath}/FINANZATE/VALENCIA/1. ENERO/3a SEMANA/DESCARTADOS`, name: 'CV_CRISTINA_PONS_LLUCH.pdf' },\n\n  // ═══════════════════════════════════════════\n  // ENERO - 4a SEMANA (26-31 ene)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/4a SEMANA/CITADOS`, name: 'CV_NEREA_CAMPOS_ABAD.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/1. ENERO/4a SEMANA/DESCARTADOS`, name: 'CV_VICTOR_IBARRA_LEON.pdf' },\n\n  // ADMINISTRADOR DE FINCAS - BARCELONA\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/4a SEMANA/CITADOS`, name: 'CV_LAIA_ESTEVE_GRAU.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/4a SEMANA/DESCARTADOS`, name: 'CV_ROGER_COSTA_PUJOL.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/1. ENERO/4a SEMANA/CITAS FUERA JORNADA`, name: 'CV_GEMMA_SALA_MIRO.pdf' },\n\n  // ═══════════════════════════════════════════\n  // FEBRERO - 1a SEMANA (2-7 feb)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_ARNAU_FERRER_VALLS.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_INES_PASCUAL_ROS.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/1a SEMANA/DESCARTADOS`, name: 'CV_MANUEL_CRESPO_DIEZ.pdf' },\n\n  // ASESOR COMERCIAL - VALENCIA\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_RAQUEL_GIMENEZ_PARDO.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/2. FEBRERO/1a SEMANA/DESCARTADOS`, name: 'CV_DIEGO_ALONSO_FUENTES.pdf' },\n\n  // FINANZATE - BARCELONA\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_CLARA_DOMENECH_BOU.pdf' },\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/1a SEMANA/DESCARTADOS`, name: 'CV_HECTOR_ROIG_NADAL.pdf' },\n\n  // ADMINISTRADOR DE FINCAS - MADRID\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/MADRID/2. FEBRERO/1a SEMANA/CITADOS`, name: 'CV_TERESA_MOYA_SEGURA.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/MADRID/2. FEBRERO/1a SEMANA/DESCARTADOS`, name: 'CV_RUBEN_PRATS_OLIVE.pdf' },\n\n  // ═══════════════════════════════════════════\n  // FEBRERO - 2a SEMANA (9-14 feb) ← SEMANA ACTUAL\n  // Incluye PENDIENTES (CVs recien llegados sin clasificar)\n  // ═══════════════════════════════════════════\n\n  // ASESOR COMERCIAL - BARCELONA\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_PEPE_GARCIA_NAVARRO.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_ANA_MARTINEZ_RUIZ.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_JORDI_BLANCH_SEGUI.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_MARIA_FERNANDEZ_GIL.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA/DESCARTADOS`, name: 'CV_JUAN_PEREZ_BLANCO.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/BARCELONA/2. FEBRERO/2a SEMANA/CITAS FUERA JORNADA`, name: 'CV_ROSA_GOMEZ_TORRES.pdf' },\n\n  // ASESOR COMERCIAL - VALENCIA\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/2. FEBRERO/2a SEMANA`, name: 'CV_CARLOS_LOPEZ_DIAZ.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/VALENCIA/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_LAURA_SANCHEZ_VEGA.pdf' },\n\n  // ASESOR COMERCIAL - MADRID\n  { path: `${basePath}/ASESOR COMERCIAL/MADRID/2. FEBRERO/2a SEMANA`, name: 'CV_ALVARO_REYES_NIETO.pdf' },\n  { path: `${basePath}/ASESOR COMERCIAL/MADRID/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_BEATRIZ_ROMERO_SANZ.pdf' },\n\n  // FINANZATE - BARCELONA\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_PABLO_RUIZ_MORENO.pdf' },\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_ELENA_DIAZ_CASTRO.pdf' },\n  { path: `${basePath}/FINANZATE/BARCELONA/2. FEBRERO/2a SEMANA/DESCARTADOS`, name: 'CV_SERGIO_MOLINA_ROCA.pdf' },\n\n  // ADMINISTRADOR DE FINCAS - BARCELONA\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_MARTA_JIMENEZ_PRAT.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/2. FEBRERO/2a SEMANA`, name: 'CV_DAVID_SOLER_FONT.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/2. FEBRERO/2a SEMANA/CITADOS`, name: 'CV_NURIA_VIDAL_SERRA.pdf' },\n  { path: `${basePath}/ADMINISTRADOR DE FINCAS/BARCELONA/2. FEBRERO/2a SEMANA/DESCARTADOS`, name: 'CV_ALEX_PUIG_COSTA.pdf' }\n];\n\nreturn [{ json: { pdfs, totalPdfs: pdfs.length } }];"},"id":"1bf13be4-be45-4118-a484-58f0a362ef93","name":"Definir Estructura","type":"n8n-nodes-base.code","typeVersion":2,"position":[-10544,4080]},{"parameters":{"jsCode":"const { pdfs } = $input.first().json;\nreturn pdfs.map(p => ({ json: { ...p } }));"},"id":"085b8ae0-21c5-4b11-9b43-9be35a3e8343","name":"Split PDFs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-10320,4080]},{"parameters":{"method":"PUT","url":"=https://graph.microsoft.com/v1.0/me/drive/root:/{{ encodeURI($json.path + '/' + $json.name) }}:/content","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftOneDriveOAuth2Api","sendBody":"True","contentType":"raw","rawContentType":"application/pdf","body":"CV Demo - Candidato de prueba para workflow RRHH La Casa Agency","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"ec86755f-6fca-4039-a837-eaf169fcb9e2","name":"Subir PDFs Demo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-10096,4080],"credentials":{"microsoftOneDriveOAuth2Api":{"id":"OF2rMJ4ZrCjjkJwn","name":"Microsoft Drive account"}},"onError":"continueRegularOutput","notes":"PUT /content crea archivo + todas las carpetas padre automaticamente"},{"parameters":{"jsCode":"// Resumen de archivos subidos\nconst uploaded = $input.all();\nconst total = $('Definir Estructura').first().json.totalPdfs;\n\nconst exitosos = uploaded.filter(i => i.json.id);\nconst errores = uploaded.filter(i => !i.json.id);\n\n// Contar por estado\nconst estados = { PENDIENTE: 0, CITADO: 0, DESCARTADO: 0, CITA_FUERA_JORNADA: 0 };\nfor (const item of exitosos) {\n  const path = item.json.parentReference?.path || '';\n  if (path.includes('CITADOS')) estados.CITADO++;\n  else if (path.includes('DESCARTADOS')) estados.DESCARTADO++;\n  else if (path.includes('CITAS FUERA JORNADA')) estados.CITA_FUERA_JORNADA++;\n  else estados.PENDIENTE++;\n}\n\nreturn [{\n  json: {\n    '=== SETUP COMPLETADO ===': '13 febrero 2026',\n    esperados: total,\n    subidos_ok: exitosos.length,\n    errores: errores.length,\n    distribucion_estados: estados,\n    posiciones: ['ASESOR COMERCIAL', 'FINANZATE', 'ADMINISTRADOR DE FINCAS'],\n    ciudades: ['BARCELONA', 'VALENCIA', 'MADRID'],\n    periodos: [\n      '1. ENERO / 1a-4a SEMANA (semanas cerradas)',\n      '2. FEBRERO / 1a SEMANA (semana cerrada)',\n      '2. FEBRERO / 2a SEMANA (semana actual con PENDIENTES)'\n    ],\n    nota: 'Espera 2-3 min para que el indice de busqueda se actualice antes de ejecutar WF1'\n  }\n}];"},"id":"8752f610-a3b1-469c-a71f-689605d63c5b","name":"Resumen","type":"n8n-nodes-base.code","typeVersion":2,"position":[-9872,4080]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"id":"18eb5c6a-07ee-4d27-985e-4d2e0c35182d","name":"Cron 3min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-10768,4752]},{"parameters":{"url":"https://graph.microsoft.com/v1.0/me/drive/root:/Base de datos/2026:/search(q='.pdf')?$top=200&$select=id,name,size,lastModifiedDateTime,webUrl,parentReference,file","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftOneDriveOAuth2Api","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"7199d202-9251-4e05-ac99-1095347ccbf2","name":"1. Buscar PDFs OneDrive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-10544,4752],"credentials":{"microsoftOneDriveOAuth2Api":{"id":"OF2rMJ4ZrCjjkJwn","name":"Microsoft Drive account"}},"notes":"OneDrive Personal: /me/drive/\nPara SharePoint: /sites/{siteId}/drives/{driveId}/root:/...\n$top=200 para paginacion. Si hay mas, usar @odata.nextLink"},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════\n// Parsear TODOS los PDFs y devolver UN SOLO item con array\n// Esto permite leer la Sheet 1 sola vez\n// ══════════════════════════════════════════════════════\n\nconst response = $input.first().json;\nconst files = response.value || [];\n\nconst ESTADO_MAP = {\n  'CITADOS': 'CITADO',\n  'DESCARTADOS': 'DESCARTADO',\n  'CITAS FUERA JORNADA': 'CITA_FUERA_JORNADA'\n};\n\nfunction normalizeName(str) {\n  return (str || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst pdfs = [];\n\nfor (const file of files) {\n  if (!file.name || !file.name.toLowerCase().endsWith('.pdf')) continue;\n  \n  const parentPath = file.parentReference?.path || '';\n  const fullPath = parentPath + '/' + file.name;\n  \n  const year = new Date().getFullYear().toString();
  if (!parentPath.includes('Base de datos')) continue;
  const afterBase = parentPath.split('/' + year + '/');\n  if (afterBase.length < 2) continue;\n  \n  const pathParts = afterBase[1].split('/');\n  if (pathParts.length < 4) continue;\n  \n  const posicion = pathParts[0] || '';\n  const ciudad = pathParts[1] || '';\n  const mes = pathParts[2] || '';\n  const semana = pathParts[3] || '';\n  const subcarpeta = pathParts[4] || '';\n  \n  let estado = 'PENDIENTE';\n  for (const [carpeta, est] of Object.entries(ESTADO_MAP)) {\n    if (subcarpeta.toUpperCase().includes(carpeta.toUpperCase())) {\n      estado = est;\n      break;\n    }\n  }\n  \n  let nombreArchivo = file.name\n    .replace(/\\.pdf$/i, '')\n    .replace(/^CV[_\\s-]*/i, '')\n    .replace(/[_-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  const nombreFormateado = nombreArchivo\n    .replace(/\\b\\w/g, c => c.toUpperCase());\n  \n  pdfs.push({\n    fileId: file.id,\n    fileName: file.name,\n    filePath: fullPath,\n    fileSize: file.size,\n    lastModified: file.lastModifiedDateTime,\n    webUrl: file.webUrl || '',\n    posicion, ciudad, mes, semana, subcarpeta, estado,\n    nombreArchivo: nombreFormateado,\n    nombreNormalizado: normalizeName(nombreFormateado)\n  });\n}\n\n// Devolver UN SOLO item con el array de PDFs\nreturn [{ json: { pdfs, totalPdfs: pdfs.length, empty: pdfs.length === 0 } }];"},"id":"32c5ff61-a52b-45e8-a606-6208c4867c3a","name":"2. Parsear Rutas","type":"n8n-nodes-base.code","typeVersion":2,"position":[-10320,4752]},{"parameters":{"conditions":{"options":{"caseSensitive":"False","leftValue":"","typeValidation":"loose"},"conditions":[{"id":"c1","leftValue":"={{ $json.totalPdfs }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"4a05fabf-be68-4997-a73d-e2efcfaeec0c","name":"Hay archivos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-10096,4752]},{"parameters":{"operation":"getAll","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"}},"id":"d6d7f1fc-1ef4-43a4-91d4-b2a580a79ba2","name":"3. Leer Sheet COMPLETA","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-9872,4752],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}},"onError":"continueRegularOutput","notes":"Lee TODA la sheet de una sola vez para evitar multiples llamadas API"},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════\n// COMPARAR PDFs vs Sheet - BIDIRECCIONAL\n// Detecta cambios en OneDrive Y en la Sheet\n// Usa _ultimo_sync para saber quien cambio\n// ══════════════════════════════════════════════════════\n\nfunction norm(str) {\n  return (str || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst sheetRows = $('3. Leer Sheet COMPLETA').all().map(i => i.json);\n\n// Indices\nconst sheetByName = {};\nfor (let i = 0; i < sheetRows.length; i++) {\n  const row = sheetRows[i];\n  const key = norm(row.NOMBRE || '');\n  if (key && !sheetByName[key]) {\n    sheetByName[key] = { ...row, _rowIndex: i + 2 };\n  }\n}\n\nconst pdfs = $('2. Parsear Rutas').first().json.pdfs || [];\nconst results = [];\nlet stats = { insertar: 0, actualizar_sheet: 0, mover_onedrive: 0, skip: 0 };\n\nfor (const pdf of pdfs) {\n  const match = sheetByName[pdf.nombreNormalizado] || null;\n  \n  if (!match) {\n    // Nuevo: no existe en Sheet → INSERTAR\n    results.push({ json: { ...pdf, accion: 'INSERTAR' }});\n    stats.insertar++;\n    continue;\n  }\n  \n  const sheetEstado = norm(match['SITUACIÓN'] || match['SITUACION'] || '');\n  const onedriveEstado = norm(pdf.estado);\n  const ultimoSync = norm(match._ultimo_sync || '');\n  \n  if (sheetEstado === onedriveEstado) {\n    // Sincronizados → SKIP\n    stats.skip++;\n    continue;\n  }\n  \n  // HAY DIFERENCIA: determinar quien cambio\n  if (!ultimoSync || ultimoSync === sheetEstado) {\n    // _ultimo_sync coincide con Sheet (o no existe) → OneDrive cambio\n    // Accion: actualizar Sheet para reflejar OneDrive\n    results.push({ json: {\n      ...pdf,\n      accion: 'ACTUALIZAR_SHEET',\n      situacionAnterior: match['SITUACIÓN'] || match['SITUACION'] || '',\n      matchNombre: match.NOMBRE,\n      matchRowIndex: match._rowIndex\n    }});\n    stats.actualizar_sheet++;\n  } else if (ultimoSync === onedriveEstado) {\n    // _ultimo_sync coincide con OneDrive → Sheet cambio\n    // Accion: mover archivo en OneDrive para reflejar Sheet\n    const nuevoEstado = (match['SITUACIÓN'] || match['SITUACION'] || '').trim();\n    results.push({ json: {\n      ...pdf,\n      accion: 'MOVER_ONEDRIVE',\n      nuevoEstado: nuevoEstado,\n      situacionAnterior: pdf.estado,\n      matchNombre: match.NOMBRE,\n      matchRowIndex: match._rowIndex\n    }});\n    stats.mover_onedrive++;\n  } else {\n    // Conflicto: ambos cambiaron. Sheet gana (es donde trabajan los usuarios)\n    const nuevoEstado = (match['SITUACIÓN'] || match['SITUACION'] || '').trim();\n    results.push({ json: {\n      ...pdf,\n      accion: 'MOVER_ONEDRIVE',\n      nuevoEstado: nuevoEstado,\n      situacionAnterior: pdf.estado,\n      matchNombre: match.NOMBRE,\n      matchRowIndex: match._rowIndex,\n      _conflicto: true\n    }});\n    stats.mover_onedrive++;\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { accion: 'NINGUNA', _skip: true, _resumen: JSON.stringify(stats) }}];\n}\n\nresults[0].json._resumen = JSON.stringify(stats);\nreturn results;"},"id":"1f8843e5-0053-415b-b830-3aeac018dde5","name":"4. Comparar PDF vs Sheet","type":"n8n-nodes-base.code","typeVersion":2,"position":[-9648,4752]},{"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"INSERTAR","operator":{"type":"string","operation":"equals"}}]},"renameOutput":"True","outputKey":"NUEVO"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"ACTUALIZAR_SHEET","operator":{"type":"string","operation":"equals"}}]},"renameOutput":"True","outputKey":"ACTUALIZAR_SHEET"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"MOVER_ONEDRIVE","operator":{"type":"string","operation":"equals"}}]},"renameOutput":"True","outputKey":"MOVER_ONEDRIVE"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"NINGUNA","operator":{"type":"string","operation":"equals"}}]},"renameOutput":"True","outputKey":"SKIP"}]},"options":{}},"id":"07cb0b11-7608-4451-8a08-29cd916f3bd9","name":"5. Switch Accion","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-9424,4720]},{"parameters":{"operation":"append","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"},"sheetName":{"__rl":"True","value":1135598434,"mode":"list","cachedResultName":"BASE DE DATOS 2026 BCN","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM/edit#gid=1135598434"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"MES","displayName":"MES","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"NOMBRE","displayName":"NOMBRE","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"FORMATO","displayName":"FORMATO","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"OFICINA","displayName":"OFICINA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":" RESIDENCIA","displayName":" RESIDENCIA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"FECHA","displayName":"FECHA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"HORA","displayName":"HORA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"CORREO","displayName":"CORREO","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"TELÉFONO","displayName":"TELÉFONO","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"FUENTE","displayName":"FUENTE","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"CONFIRMACIÓN","displayName":"CONFIRMACIÓN","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"CITADO POR","displayName":"CITADO POR","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"ASISTENCIA","displayName":"ASISTENCIA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"ENTREVISTADO POR","displayName":"ENTREVISTADO POR","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"MOTIVO DESCARTE","displayName":"MOTIVO DESCARTE","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"MAIL DESCARTE","displayName":"MAIL DESCARTE","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"COMENTARIOS","displayName":"COMENTARIOS","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"SITUACIÓN","displayName":"SITUACIÓN","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"POSICIÓN","displayName":"POSICIÓN","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"INICIO","displayName":"INICIO","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"FIN","displayName":"FIN","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"CAUSA","displayName":"CAUSA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"_accion","displayName":"_accion","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"_fileId","displayName":"_fileId","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"_fileName","displayName":"_fileName","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"}],"attemptToConvertTypes":"False","convertFieldsToString":"False","ignoreAdditionalFields":"True"},"options":{"cellFormat":"USER_ENTERED"}},"id":"f04e9485-f25f-45d9-8573-cb0160c5e8bc","name":"7a. Insertar en Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8976,4752],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}}},{"parameters":{"jsCode":"// Preparar actualizacion de SITUACION + _ultimo_sync\nconst item = $input.first().json;\n\nreturn [{ json: {\n  NOMBRE: item.matchNombre || item.nombreArchivo,\n  'SITUACIÓN': item.estado,\n  _ultimo_sync: item.estado,\n  _accion: 'ACTUALIZAR_SHEET',\n  _situacionAnterior: item.situacionAnterior,\n  _fileName: item.fileName\n} }];"},"id":"da233fe7-5201-41e4-b432-f70934b4d0f4","name":"6e. Preparar Actualizacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[-9200,4944]},{"parameters":{"operation":"update","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"},"sheetName":{"__rl":"True","value":1135598434,"mode":"list","cachedResultName":"BASE DE DATOS 2026 BCN","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM/edit#gid=1135598434"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"MES","displayName":"MES","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"NOMBRE","displayName":"NOMBRE","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"FORMATO","displayName":"FORMATO","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"OFICINA","displayName":"OFICINA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":" RESIDENCIA","displayName":" RESIDENCIA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"FECHA","displayName":"FECHA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"HORA","displayName":"HORA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"CORREO","displayName":"CORREO","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"TELÉFONO","displayName":"TELÉFONO","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"FUENTE","displayName":"FUENTE","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"CONFIRMACIÓN","displayName":"CONFIRMACIÓN","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"CITADO POR","displayName":"CITADO POR","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"ASISTENCIA","displayName":"ASISTENCIA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"ENTREVISTADO POR","displayName":"ENTREVISTADO POR","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"MOTIVO DESCARTE","displayName":"MOTIVO DESCARTE","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"MAIL DESCARTE","displayName":"MAIL DESCARTE","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"COMENTARIOS","displayName":"COMENTARIOS","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"SITUACIÓN","displayName":"SITUACIÓN","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"POSICIÓN","displayName":"POSICIÓN","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"INICIO","displayName":"INICIO","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"FIN","displayName":"FIN","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"CAUSA","displayName":"CAUSA","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"_accion","displayName":"_accion","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"_fileId","displayName":"_fileId","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"_fileName","displayName":"_fileName","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"row_number","displayName":"row_number","required":"False","defaultMatch":"False","display":"True","type":"number","canBeUsedToMatch":"True","readOnly":"True","removed":"True"}],"attemptToConvertTypes":"False","convertFieldsToString":"False","ignoreAdditionalFields":"True"},"options":{"cellFormat":"USER_ENTERED"}},"id":"b90ec0af-e4e6-46f7-84ca-c5c2c6488e73","name":"7b. Actualizar en Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8976,4944],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"},"sheetName":{"__rl":"True","value":"Log","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now.toISO() }}","nombre":"={{ $json.NOMBRE }}","accion":"={{ $json._accion }}","situacion_anterior":"={{ $json._situacionAnterior || 'N/A' }}","situacion_nueva":"={{ $json['SITUACIÓN'] || $json.estado }}","posicion":"={{ $json['POSICIÓN'] || $json.posicion || '' }}","archivo":"={{ $json._fileName || '' }}"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"nombre","displayName":"nombre","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"accion","displayName":"accion","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"situacion_anterior","displayName":"situacion_anterior","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"situacion_nueva","displayName":"situacion_nueva","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"posicion","displayName":"posicion","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"},{"id":"archivo","displayName":"archivo","required":"False","defaultMatch":"False","display":"True","type":"string","canBeUsedToMatch":"True"}],"attemptToConvertTypes":"False","convertFieldsToString":"False"},"options":{"cellFormat":"USER_ENTERED"}},"id":"23c44cb8-c53b-4e44-af90-fb8710fb6c9f","name":"8. Log Cambio","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8752,4752],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":"False","leftValue":"","typeValidation":"loose"},"conditions":[{"id":"c2","leftValue":"={{ $json['SITUACIÓN'] || $json.estado }}","rightValue":"CITADO","operator":{"type":"string","operation":"equals"}},{"id":"c3","leftValue":"={{ $json._accion }}","rightValue":"INSERTAR","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"c52a97c4-83a3-4015-9109-bdd6f89f3627","name":"9. Es citado nuevo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-8528,4752],"notes":"Lanza WF2 si:\n- Estado es CITADO (cambio de carpeta)\n- O es un insert nuevo con estado CITADO\nEvita lanzar WF2 para candidatos ya procesados"},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════\n// NODO UNIFICADO: Descargar PDF + Extraer IA + Preparar fila\n// Un solo Code node para evitar paired item issues de n8n\n// ══════════════════════════════════════════════════════\n\nconst rutaData = $input.first().json;\nconst API_KEY = $vars.OPENAI_API_KEY; // ← CAMBIAR POR TU API KEY\n\n// --- 1. Descargar PDF de OneDrive ---\nlet pdfBase64 = '';\ntry {\n  const downloadResp = await this.helpers.requestWithAuthentication.call(\n    this, 'microsoftOneDriveOAuth2Api', {\n      method: 'GET',\n      uri: 'https://graph.microsoft.com/v1.0/me/drive/items/' + rutaData.fileId + '/content',\n      encoding: null,\n      resolveWithFullResponse: true\n    }\n  );\n  pdfBase64 = Buffer.from(downloadResp.body).toString('base64');\n} catch (e) {\n  // Si falla la descarga, continuamos solo con el nombre del archivo\n  console.log('Download failed:', e.message);\n}\n\n// --- 2. Llamar GPT-4o via OpenAI ---\nlet cv = {};\ntry {\n  const userContent = pdfBase64\n    ? [\n        { type: 'file', file: { filename: rutaData.fileName, file_data: 'data:application/pdf;base64,' + pdfBase64 } },\n        { type: 'text', text: 'Extrae los datos de este CV de InfoJobs.' }\n      ]\n    : 'Extrae los datos de este CV basandote en el nombre del archivo: ' + rutaData.fileName + '. Solo tienes el nombre del archivo, extrae lo que puedas.';\n\n  const aiResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: { 'Authorization': 'Bearer ' + API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      model: 'gpt-4o',\n      messages: [\n        {\n          role: 'system',\n          content: `Eres un extractor de datos de CVs de InfoJobs para una empresa inmobiliaria. Extrae los datos del candidato y responde UNICAMENTE con JSON valido (sin markdown, sin backticks). Campos:\n{\n  \"nombre_completo\": \"Nombre y apellidos exactos\",\n  \"email\": \"email o vacio\",\n  \"telefono\": \"telefono con prefijo o vacio\",\n  \"residencia\": \"ciudad o barrio de residencia o vacio\",\n  \"edad\": \"numero o vacio\",\n  \"experiencia_resumen\": \"max 50 palabras\",\n  \"formacion\": \"nivel formativo principal\",\n  \"disponibilidad\": \"inmediata/parcial/especificar o vacio\",\n  \"idiomas\": \"lista de idiomas o vacio\",\n  \"carnet_conducir\": \"si/no/vacio\",\n  \"vehiculo_propio\": \"si/no/vacio\"\n}\nReglas: Si un dato no aparece, pon string vacio. NUNCA inventes datos. SOLO JSON.`\n        },\n        { role: 'user', content: userContent }\n      ],\n      max_tokens: 600,\n      temperature: 0\n    },\n    json: true,\n    timeout: 30000\n  });\n\n  const raw = aiResp.choices?.[0]?.message?.content || '{}';\n  cv = JSON.parse(raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim());\n} catch (e) {\n  console.log('AI extraction failed:', e.message);\n  cv = { nombre_completo: rutaData.nombreArchivo || '' };\n}\n\n// --- 3. Preparar fila para Google Sheet ---\nconst mesMap = {\n  '1. ENERO': 'Enero', '2. FEBRERO': 'Febrero', '3. MARZO': 'Marzo',\n  '4. ABRIL': 'Abril', '5. MAYO': 'Mayo', '6. JUNIO': 'Junio',\n  '7. JULIO': 'Julio', '8. AGOSTO': 'Agosto', '9. SEPTIEMBRE': 'Septiembre',\n  '10. OCTUBRE': 'Octubre', '11. NOVIEMBRE': 'Noviembre', '12. DICIEMBRE': 'Diciembre'\n};\n\nconst nombre = (cv.nombre_completo && cv.nombre_completo.length > 3)\n  ? cv.nombre_completo\n  : (rutaData.nombreArchivo || 'Desconocido');\n\nreturn [{\n  json: {\n    MES: mesMap[rutaData.mes] || rutaData.mes || '',\n    NOMBRE: nombre,\n    FORMATO: '',\n    OFICINA: rutaData.ciudad || '',\n    ' RESIDENCIA': cv.residencia || '',\n    FECHA: new Date().toLocaleDateString('es-ES'),\n    HORA: '',\n    CORREO: cv.email || '',\n    'TELÉFONO': cv.telefono || '',\n    FUENTE: 'InfoJobs',\n    'CONFIRMACIÓN': '',\n    'CITADO POR': '',\n    ASISTENCIA: '',\n    'ENTREVISTADO POR': '',\n    'MOTIVO DESCARTE': '',\n    'MAIL DESCARTE': '',\n    COMENTARIOS: [\n      cv.experiencia_resumen ? 'Exp: ' + cv.experiencia_resumen : '',\n      cv.formacion ? 'Form: ' + cv.formacion : '',\n      cv.idiomas ? 'Idiomas: ' + cv.idiomas : '',\n      cv.edad ? 'Edad: ' + cv.edad : '',\n      cv.carnet_conducir === 'si' ? 'Carnet: Si' : '',\n      cv.vehiculo_propio === 'si' ? 'Vehiculo: Si' : ''\n    ].filter(Boolean).join(' | '),\n    'SITUACIÓN': rutaData.estado || '',\n    'POSICIÓN': rutaData.posicion || '',\n    INICIO: '',\n    FIN: '',\n    CAUSA: '',\n    _accion: 'INSERTAR',\n    _ultimo_sync: rutaData.estado || '',\n    _fileId: rutaData.fileId || '',\n    _fileName: rutaData.fileName || ''\n  }\n}];"},"id":"590fe372-16f2-4f10-a966-2aa3ed177b77","name":"6. Descargar + IA + Preparar","type":"n8n-nodes-base.code","typeVersion":2,"position":[-9200,4752],"notes":"Nodo unificado: descarga PDF + GPT-4o + prepara fila.\nCONFIGURAR: cambiar CONFIGURAR_OPENAI_API_KEY por tu API key real."},{"parameters":{"jsCode":"// ══════════════════════════════════════════════════════\n// MOVER ARCHIVO EN ONEDRIVE\n// Cuando la Sheet cambia SITUACION, mover el PDF a la carpeta correcta\n// ══════════════════════════════════════════════════════\n\nconst item = $input.first().json;\n\n// Mapear estado a nombre de subcarpeta en OneDrive\nconst CARPETA_MAP = {\n  'CITADO': 'CITADOS',\n  'DESCARTADO': 'DESCARTADOS',\n  'CITA_FUERA_JORNADA': 'CITAS FUERA JORNADA',\n  'PENDIENTE': '' // raiz de la semana\n};\n\nconst nuevoEstado = (item.nuevoEstado || '').toUpperCase().trim();\n\n// Normalizar estado\nlet estadoNorm = nuevoEstado;\nif (nuevoEstado.includes('CITADO') && !nuevoEstado.includes('DESCARTADO') && !nuevoEstado.includes('FUERA')) {\n  estadoNorm = 'CITADO';\n} else if (nuevoEstado.includes('DESCARTADO') || nuevoEstado.includes('DESCARTE')) {\n  estadoNorm = 'DESCARTADO';\n} else if (nuevoEstado.includes('FUERA') || nuevoEstado.includes('CITA_FUERA')) {\n  estadoNorm = 'CITA_FUERA_JORNADA';\n} else {\n  estadoNorm = 'PENDIENTE';\n}\n\nconst subcarpeta = CARPETA_MAP[estadoNorm] || '';\n\n// Construir nueva ruta destino\n// Formato: /drive/root:/Base de datos/2026/POSICION/CIUDAD/MES/SEMANA/[SUBCARPETA]\nconst basePath = '/drive/root:/Base de datos/2026/' + item.posicion + '/' + item.ciudad + '/' + item.mes + '/' + item.semana;\nconst destPath = subcarpeta ? basePath + '/' + subcarpeta : basePath;\n\n// Mover archivo via Graph API\ntry {\n  const moveResp = await this.helpers.requestWithAuthentication.call(\n    this, 'microsoftOneDriveOAuth2Api', {\n      method: 'PATCH',\n      uri: 'https://graph.microsoft.com/v1.0/me/drive/items/' + item.fileId,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        parentReference: {\n          path: destPath\n        }\n      })\n    }\n  );\n  \n  return [{ json: {\n    NOMBRE: item.matchNombre || item.nombreArchivo,\n    _ultimo_sync: estadoNorm,\n    _accion: 'MOVER_ONEDRIVE',\n    _situacionAnterior: item.estado,\n    _situacionNueva: estadoNorm,\n    _fileName: item.fileName,\n    _destino: destPath,\n    _movido: true\n  }}];\n} catch (e) {\n  return [{ json: {\n    NOMBRE: item.matchNombre || item.nombreArchivo,\n    _accion: 'MOVER_ONEDRIVE',\n    _error: e.message,\n    _fileName: item.fileName,\n    _destino: destPath,\n    _movido: false\n  }}];\n}"},"id":"af0f00ef-56ad-45d9-9bf7-a0b057ec6206","name":"6f. Mover en OneDrive","type":"n8n-nodes-base.code","typeVersion":2,"position":[-9200,4560],"notes":"Mueve el PDF a la carpeta correcta segun el estado de la Sheet.\nCITADO→CITADOS, DESCARTADO→DESCARTADOS, etc."},{"parameters":{"operation":"update","documentId":{"__rl":"True","value":"1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM","mode":"id"},"sheetName":{"__rl":"True","value":1135598434,"mode":"list","cachedResultName":"BASE DE DATOS 2026 BCN","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vGipz1b6gNlAbLlCD7EQS5_GoSEWiQaHa4U1TKNRLiM/edit#gid=1135598434"},"columns":{"mappingMode":"defineBelow","value":{"NOMBRE":"={{ $json.NOMBRE }}","_ultimo_sync":"={{ $json._ultimo_sync }}"},"matchingColumns":["NOMBRE"]},"options":{"cellFormat":"USER_ENTERED"}},"id":"ebf7e3fd-cd9d-4f27-a67e-92d6c629d6ae","name":"7c. Sync _ultimo_sync","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8976,4560],"credentials":{"googleSheetsOAuth2Api":{"id":"xDl2hOMI5H0CipOz","name":"programacion@conexiatec.com"}}}],"connections":{"Ejecutar Manual":{"main":[[{"node":"Definir Estructura","type":"main","index":0}]]},"Definir Estructura":{"main":[[{"node":"Split PDFs","type":"main","index":0}]]},"Split PDFs":{"main":[[]]},"Subir PDFs Demo":{"main":[[]]},"Cron 3min":{"main":[[{"node":"1. Buscar PDFs OneDrive","type":"main","index":0}]]},"1. Buscar PDFs OneDrive":{"main":[[{"node":"2. Parsear Rutas","type":"main","index":0}]]},"2. Parsear Rutas":{"main":[[{"node":"Hay archivos?","type":"main","index":0}]]},"Hay archivos?":{"main":[[{"node":"3. Leer Sheet COMPLETA","type":"main","index":0}]]},"3. Leer Sheet COMPLETA":{"main":[[{"node":"4. Comparar PDF vs Sheet","type":"main","index":0}]]},"4. Comparar PDF vs Sheet":{"main":[[{"node":"5. Switch Accion","type":"main","index":0}]]},"5. Switch Accion":{"main":[[{"node":"6. Descargar + IA + Preparar","type":"main","index":0}],[{"node":"6e. Preparar Actualizacion","type":"main","index":0}],[{"node":"6f. Mover en OneDrive","type":"main","index":0}]]},"7a. Insertar en Sheet":{"main":[[{"node":"8. Log Cambio","type":"main","index":0}]]},"6e. Preparar Actualizacion":{"main":[[{"node":"7b. Actualizar en Sheet","type":"main","index":0}]]},"7b. Actualizar en Sheet":{"main":[[{"node":"8. Log Cambio","type":"main","index":0}]]},"8. Log Cambio":{"main":[[{"node":"9. Es citado nuevo?","type":"main","index":0}]]},"9. Es citado nuevo?":{"main":[[]]},"6. Descargar + IA + Preparar":{"main":[[{"node":"7a. Insertar en Sheet","type":"main","index":0}]]},"6f. Mover en OneDrive":{"main":[[{"node":"7c. Sync _ultimo_sync","type":"main","index":0}]]},"7c. Sync _ultimo_sync":{"main":[[{"node":"8. Log Cambio","type":"main","index":0}]]}},"authors":"Ivan Madrid","name":"Version 1bfec2ae","description":"","autosaved":"True","workflowPublishHistory":[{"createdAt":"2026-02-13T12:35:43.137Z","id":203,"workflowId":"7ELtvdYY0xq2eOU4","versionId":"1bfec2ae-f3b7-4a76-84fc-f109916aa60d","event":"activated","userId":"0dadf7b3-164c-4595-8178-913217f7f722"}]}}